.circle {
    width: 230px;
    height: 230px;
    background-color: rgb(227, 250, 127);
    transition: 0.7s;
    margin-bottom: 1em;
    margin-top: em;
}

.circle:hover {
    background-color: cyan;
    border-radius: 50%;
}

h1 {
    color:rgb(134, 17, 17);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 10%;
    font-size: 2em;
}

.para {
    font-size: 1.5em;
    color:rgb(11, 70, 78);  
}

.name {
    color: rgb(116, 83, 22);
    font-size: 25px;
    font-weight: bold;
}

span{
    background-color: rgb(243, 243, 106);
}

section div{
    transition: margin-left 1s;
}

section:hover div{
    margin-left:200px;
    transform: translateY(-2em);
}

div:nth-of-type(1){
    transition-timing-function: ease-in ;
}
  
  button {
    background: none;
    color:#ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
  }
  
  button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.5em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
    background-color: rgb(122, 212, 156);
  }
  img{
      width: 300px;
      height: 200px;
  }
